/* @import '@fontsource/poppins'; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '@fontsource/open-sans';

@tailwind base;
@layer base {
	input {
		all: unset;
	}
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
	input[type='number']::-webkit-inner-spin-button {
		display: none;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type='number'] {
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
}
@tailwind components;
@layer components {
	/* .btn {
		display: inline-flex;
		height: 3.5rem;
		padding: 1.125rem 3rem;
		align-items: center;
		gap: 0.375rem;
		flex-shrink: 0;
		border-radius: 0.75rem;
		border: 2px solid var(--c-2-c, #92c064);
	}
	.btn-filled {
		display: inline-flex;
		height: 3.5rem;
		padding: 0.75rem 3rem;
		align-items: center;
		gap: 0.375rem;
		flex-shrink: 0;
		border-radius: 0.75rem;
		border: 2px solid var(--c-2-b, #46760a);
		background: var(--c-2-a, #6a983c);
	} */
	.button {
		font-family: Poppins, sans-serif;
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.s1 {
		font-family: Poppins, sans-serif;
		font-size: 2rem;
		font-style: normal;
		font-weight: 600;
		/* line-height: 140%; 2.8rem */
		line-height: normal;
	}
	.s3 {
		font-family: Poppins, sans-serif;
		font-size: 1.375rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.s4 {
		font-family: Poppins, sans-serif;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.s5 {
		font-family: Poppins, sans-serif;
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.s6 {
		font-family: Poppins, sans-serif;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.caption {
		font-family: Open Sans;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.body {
		font-family: Open Sans;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
@tailwind utilities;
